@page
@model NOVAAPP.Pages.LogsProductosAprov.IndexModel
@{
    ViewData["Title"] = "LogsProductosAprov";

}
@using System.Globalization;
@{



}


@section styles {


}

@section scripts {




}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Logs Productos Aprovisionamiento
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Listado Logs Productos Aprovisionamiento</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-sm-8"> <h4 class="box-title">Filtro</h4></div>


                    </div>


                </div>
                <div class="box-body">
                    <form method="get">
                        <div class="row">
                            <div class="col-sm-4 pr-1">
                                <div class="form-group">
                                    <label>Categorias</label>
                                    <select class="form-control select2  " asp-for="filtro.Codigo3">
                                        <option value="0"> Seleccione</option>

                                        @foreach (var item in Model.Categorias)
                                        {
                                            <option value="@item.id"> @item.CodSAP - @item.Nombre</option>
                                        }


                                    </select>
                                </div>


                            </div>

                            <div class="col-sm-4 pr-1">
                                <div class="form-group">
                                    <label>Sub Categorias</label>
                                    <select class="form-control select2  " asp-for="filtro.Codigo2">
                                        <option value="0"> Seleccione</option>

                                        @foreach (var item in Model.SubCategorias)
                                        {
                                            <option value="@item.id"> @item.id - @item.Nombre</option>
                                        }


                                    </select>
                                </div>


                            </div>
                            <div class="col-sm-4 pr-1">
                                <div class="form-group">
                                    <label>Usuarios</label>
                                    <select class="form-control select2  " asp-for="filtro.Codigo1">
                                        <option value="0"> Seleccione</option>

                                        @foreach (var item in Model.Usuarios)
                                        {
                                            <option value="@item.id"> @item.id - @item.Nombre</option>
                                        }


                                    </select>
                                </div>


                            </div>
                            <div class="col-sm-6 pr-1">
                                <div class="form-group">
                                    <label>Código Producto</label>

                                    <input class="form-control" asp-for="filtro.Buscar" />
                                </div>
                            </div>
                            <div class="col-sm-4 pl-1" style="text-align: center; padding-top: 1%;">
                                <button title="Buscar" type="submit" class="btn btn-rounded btn-outline-primary"> <i class="fa fa-search"></i></button>
                            </div>




                        </div>

                    </form>
                </div>
            </div>

            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-sm-6"> <h4 class="box-title">Logs Productos Aprovisionamiento</h4></div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>

                                        <th>ID</th>
                                        <th>Producto</th>
                                        <th>Categoria</th>
                                        <th>Sub Categoria</th>
                                        <th>Minimo</th>
                                        <th>Clasificación</th>
                                        <th>Usuario</th>
                                        <th>Fecha</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Objeto)
                                    {
                                        <tr>



                                            <td>
                                                @item.id
                                            </td>


                                            <td>@item.idProducto - @item.ItemCode - @item.NombreProducto</td>

                                            <td>
                                                @(Model.Categorias.Where(a => a.id == item.idCategoria).FirstOrDefault() == null ? "Categoria Inexistente" : Model.Categorias.Where(a => a.id == item.idCategoria).FirstOrDefault().id + " - " + Model.Categorias.Where(a => a.id == item.idCategoria).FirstOrDefault().Nombre)
                                            </td>
                                            <td>
                                                @(Model.SubCategorias.Where(a => a.id == item.idSubCategoria).FirstOrDefault() == null ? "SubCategoria Inexistente" : Model.SubCategorias.Where(a => a.id == item.idSubCategoria).FirstOrDefault().id + " - " + Model.SubCategorias.Where(a => a.id == item.idSubCategoria).FirstOrDefault().Nombre)
                                            </td>
                                            <td>@item.Minimo</td>
                                            <td>@item.Clasificacion</td>
                                            <td>
                                                @(Model.Usuarios.Where(a => a.id == item.idUsuarioModificador).FirstOrDefault() == null ? "Usuario Inexistente" : Model.Usuarios.Where(a => a.id == item.idUsuarioModificador).FirstOrDefault().id + " - " + Model.Usuarios.Where(a => a.id == item.idUsuarioModificador).FirstOrDefault().Nombre)
                                            </td>
                                            <td>       @item.Fecha.ToString("dd/MM/yyyy HH:mm")  </td>
                                        </tr>

                                    }


                                </tbody>
                                <tfoot>
                                    <tr>

                                        <th>ID</th>
                                        <th>Producto</th>
                                        <th>Categoria</th>
                                        <th>Sub Categoria</th>
                                        <th>Minimo</th>
                                        <th>Clasificación</th>
                                        <th>Usuario</th>
                                        <th>Fecha</th>


                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
