@page
@model NOVAAPP.Pages.Clientes.NuevoModel
@{
    ViewData["Title"] = "Agregar Clientes";
}
@section styles {


}

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                });
            });

            Recuperar();
        });
        var Cantones = [];
        var Distritos = [];
        var Barrios = [];

        function Recuperar() {

            try {
                Cantones = JSON.parse($("#Cantones").val());
                Distritos = JSON.parse($("#Distritos").val());
                Barrios = JSON.parse($("#Barrios").val());  //Viene de input

                ModificaSelects(0);
                maskCedula();
            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar agregar ' + e

                })
            }
        }
        function ModificaSelects(i) {
            try {
                var codProvincia = parseInt($("#selectP").val());
                var codCanton = parseInt($("#selectC").val());
                var codDistrito = parseInt($("#selectD").val());

                if (i == 0) {
                    RellenaCantones(Cantones.filter(a => a.CodProvincia == codProvincia));
                    RellenaDistritos(Distritos.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton));
                    RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));

                }

                if (i == 1) {
                    RellenaCantones(Cantones.filter(a => a.CodProvincia == codProvincia));
                    RellenaDistritos(Distritos.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton));
                    RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));

                }
                if (i == 2) {

                    RellenaDistritos(Distritos.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton));
                    RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));

                }

                if (i == 3) {
                    RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));
                }
            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar agregar ' + e

                })
            }
        }

        function RellenaCantones(ListCantones) {
            try {
                var sOptions = '';

                $("#selectC").html('');

                for (var i = 0; i < ListCantones.length; i++) {

                    sOptions += '<option value="' + ListCantones[i].CodCanton + '">' + ListCantones[i].NomCanton + '</option>';

                }
                $("#selectC").html(sOptions);
            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar agregar ' + e

                })
            }
        }

        function RellenaDistritos(ListDistritos) {
            try {
                var sOptions = '';

                $("#selectD").html('');

                for (var i = 0; i < ListDistritos.length; i++) {

                    sOptions += '<option value="' + ListDistritos[i].CodDistrito + '">' + ListDistritos[i].NomDistrito + '</option>';

                }
                $("#selectD").html(sOptions);
            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar agregar ' + e

                })
            }
        }

        function RellenaBarrios(ListBarrios) {
            try {
                var sOptions = '';

                $("#selectB").html('');

                for (var i = 0; i < ListBarrios.length; i++) {

                    sOptions += '<option value="' + ListBarrios[i].CodBarrio + '">' + ListBarrios[i].NomBarrio + '</option>';

                }
                $("#selectB").html(sOptions);
            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar agregar ' + e

                })
            }
        }

    </script>

    <script>
        function BuscarCliente() {
            try {
                $("#Nombre").val("");
                BuscarClienteRegistro();
                console.log($("#Nombre").val());


            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'ha ocurrido un error  ' + e

                })
            }
        }
        function BuscarClienteRegistro() {
            try {

                fetch('https://apis.gometa.org/cedulas/' + $("#Cedula").val() + '&fbclid=IwAR02XHHfB7dQycQ1XGVVo8bhyuRZ_jkNgWCZBW5GscL7S18lnG3jQfgeaS8')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json(); // Parsea la respuesta como JSON
                    })
                    .then(data => {
                        // Maneja los datos obtenidos
                        console.log(data);

                        if (data.nombre != undefined) {

                            $("#Nombre").val(data.nombre.toString());
                            $("#selectTP").val(data.tipoIdentificacion.toString());
                            $("#Nombre").attr("readonly", "readonly");


                            console.log($("#Nombre").val());
                        }

                        if ($("#Nombre").val().toString() == "" || $("#Nombre").val().toString() == undefined || $("#Nombre").val().toString() == '' || $("#Nombre").val().toString() == null) {

                            BuscarClienteHacienda();
                        }

                    })
                    .catch(error => {
                        // Maneja errores
                        console.error('Fetch error:', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ha ocurrido un error  ' + error

                        })

                        if ($("#Nombre").val().toString() == "" || $("#Nombre").val().toString() == undefined || $("#Nombre").val().toString() == '' || $("#Nombre").val().toString() == null) {

                            BuscarClienteHacienda();
                        }
                    });

            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error ' + e

                })
            }



        }
        function BuscarClienteHacienda() {
            try {
                fetch('https://api.hacienda.go.cr/fe/ae?identificacion=' + $("#Cedula").val() + '&fbclid=IwAR02XHHfB7dQycQ1XGVVo8bhyuRZ_jkNgWCZBW5GscL7S18lnG3jQfgeaS8')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json(); // Parsea la respuesta como JSON
                    })
                    .then(data => {
                        // Maneja los datos obtenidos
                        console.log(data);

                        if (data.nombre != undefined) {

                            $("#Nombre").val(data.nombre.toString());
                            $("#selectTP").val(data.tipoIdentificacion.toString());
                            $("#Nombre").attr("readonly", "readonly");



                        }

                        if ($("#Nombre").val().toString() == "" || $("#Nombre").val().toString() == undefined || $("#Nombre").val().toString() == '' || $("#Nombre").val().toString() == null) {
                            console.log($("#Nombre").val());
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Cliente no encontrado en registros. Contactar a soporte!  '

                            })
                        }
                    })
                    .catch(error => {
                        // Maneja errores
                        console.error('Fetch error:', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ha ocurrido un error  ' + error

                        })
                    });




            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'ha ocurrido un error  ' + e

                })
            }
        }

    </script>

}<!-- Content Header (Page header) -->
    @using Newtonsoft.Json;
<section class="content-header">
    <h1>
        Clientes
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Crear Nuevo Cliente</li>
    </ol>
</section>



<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="box-subtitle"> Crear Nuevo Cliente</h6>

                        </div>
                        <div class="col-4">
                            <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>


                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                      @if (Model.Parametros.FirstOrDefault().Pais == "P")
                                    {
                                        <label for="cyber">Tipo de RUC:</label>
                                    }else{
                                        <label for="cyber">Tipo de Cédula:</label>
                                    }
                                  
                                    <select id="selectTP" class="form-control" asp-for="Cliente.TipoCedula" onchange="javascript: maskCedula();" required>
                                        @if (Model.Parametros.FirstOrDefault().Pais == "P")
                                        {
                                            <option value="01">Natural</option>
                                            <option value="02">Jurídica</option>
                                            <option value="03">Extranjero</option>

                                        }
                                        else
                                        {
                                            <option value="01">Nacional</option>
                                            <option value="02">Jurídica</option>
                                            <option value="03">DIMEX</option>
                                            <option value="04">NITE</option>

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">   @if (Model.Parametros.FirstOrDefault().Pais == "P")
                                    {
                                         <h5>RUC<span class="text-danger">* (Sin guiones, sin espacios y con 0's)</span></h5>                                        
                                    }
                                    else
                                    {
                                        <h5>Cédula<span class="text-danger">* (Sin guiones, sin espacios y con 0's)</span></h5>
                                    }
                                   
                                    <div class="controls">
                                        <input type="text" id="Cedula" asp-for="Cliente.Cedula" class="form-control" required data-validation-required-message="Este campo es requerido" maxlength="12" onchange="javascript: BuscarCliente()" onblur="javascript: validarCedula()" onchange="javascript: ponerReadOnly()">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <h5>D.V<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" id="DV" asp-for="Cliente.DV" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Nombre<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" id="Nombre" asp-for="Cliente.Nombre" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>

                            </div>



                        </div>



                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Correo Factura<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" asp-for="Cliente.Email" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Correo Publicitario<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" asp-for="Cliente.CorreoPublicitario" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>


                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Teléfono<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" id="Telefono" asp-for="Cliente.Telefono" class="form-control" id="Telefono" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>


                            </div>



                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nom">Provincia:</label>
                                    <select id="selectP" class="form-control" asp-for="Cliente.Provincia" onchange="javascript: ModificaSelects(1)" required>
                                        @if (Model.Parametros.FirstOrDefault().Pais == "P")
                                        {
                                            <option value="1" selected>Bocas del Toro</option>
                                            <option value="2">Coclé</option>
                                            <option value="3">Colón</option>
                                            <option value="4">Chiriquí</option>
                                            <option value="5">Darién</option>
                                            <option value="6">Herrera</option>
                                            <option value="7">Los Santos</option>
                                            <option value="8">Panamá</option>
                                            <option value="9">Panamá Oeste</option>
                                            <option value="10">Veraguas</option>
                                            <option value="11">Emberá-Wounaan</option>
                                            <option value="12">Ngäbe-Buglé</option>
                                        }
                                        else
                                        {
                                            <option value="1" selected>San José</option>
                                            <option value="2">Alajuela</option>
                                            <option value="3">Cartago</option>
                                            <option value="4">Heredia</option>
                                            <option value="5">Guanacaste</option>
                                            <option value="6">Puntarenas</option>
                                            <option value="7">Limón</option>
                                        }





                                    </select>

                                </div>


                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @if (Model.Parametros.FirstOrDefault().Pais == "P")
                                    {
                                        <label for="nom">Distrito:</label>
                                    }
                                    else
                                    {
                                        <label for="nom">Cantón:</label>
                                    }


                                    <select id="selectC" class="form-control" asp-for="Cliente.Canton" onchange="javascript: ModificaSelects(2)" required>
                                        @foreach (var item in Model.Cantones)
                                        {
                                            <option value="@item.CodCanton">@item.NomCanton</option>

                                        }


                                    </select>

                                </div>


                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @if (Model.Parametros.FirstOrDefault().Pais == "P")
                                    {
                                        <label for="nom">Corregimiento:</label>
                                    }
                                    else
                                    {
                                        <label for="nom">Distrito:</label>
                                    }
                                    <select id="selectD" class="form-control" asp-for="Cliente.Distrito" onchange="javascript: ModificaSelects(3)" required>
                                        @foreach (var item in Model.Distritos)
                                        {
                                            <option value="@item.CodDistrito">@item.NomDistrito</option>

                                        }


                                    </select>

                                </div>

                            </div>
                            @if (Model.Parametros.FirstOrDefault().Pais == "P")
                            {

                            }
                            else
                            {
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="nom">Barrio:</label>
                                        <select id="selectB" class="form-control" asp-for="Cliente.Barrio" required>
                                            @foreach (var item in Model.Barrios)
                                            {
                                                <option value="@item.CodBarrio">@item.NomBarrio</option>

                                            }


                                        </select>
                                    </div>

                                </div>
                            }

                         
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Dirección<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" asp-for="Cliente.Sennas" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Lista de Precio<span class="text-danger">*</span></h5>

                                    <select class="form-control select2  " asp-for="Cliente.idListaPrecios">
                                        @foreach (var item in Model.PrecioLista)
                                        {
                                            <option value="@item.id">@item.Nombre</option>
                                        }


                                    </select>


                                </div>


                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Grupo<span class="text-danger">*</span></h5>

                                    <select class="form-control select2  " asp-for="Cliente.idGrupo">
                                        @foreach (var item in Model.Grupos)
                                        {
                                            <option value="@item.id">@item.Nombre</option>
                                        }


                                    </select>


                                </div>


                            </div>
                        </div>
                        <div class="text-xs-right">
                            <button type="submit" class="btn btn-info" title="Guardar Cambios">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>


                <div class="row">
                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">

                            <div class="x_content">

                                <input hidden id="Cantones" value="@JsonConvert.SerializeObject(Model.Cantones)" />
                                <input hidden id="Distritos" value="@JsonConvert.SerializeObject(Model.Distritos)" />
                                <input hidden id="Barrios" value="@JsonConvert.SerializeObject(Model.Barrios)" />




                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</section>
<script>
    function maskCedula() {
        $("#Telefono").mask("9999-9999");
        var TC = $("#selectTP").val();

        switch (TC) {
            case "01":
                {
                    $("#CedulaCliente").mask("999999999");
                    break;
                }
            case "02":
                {
                    $("#CedulaCliente").mask("9999999999");
                    break;
                }
            case "03":
                {
                    $("#CedulaCliente").mask("999999999999");
                    break;
                }
            case "04":
                {
                    $("#CedulaCliente").mask("999999999999");
                    break;
                }
        }

    }

    function validarCedula() {
        var TC = $("#selectTP").val();

        switch (TC) {
            case "01":
                {
                    if ($("#CedulaCliente").val().length < 9) {

                        $("#CedulaCliente").focus();
                        $("#CedulaCliente").select();
                    }

                    break;
                }
            case "02":
                {
                    if ($("#CedulaCliente").val().length < 10) {

                        $("#CedulaCliente").focus();
                        $("#CedulaCliente").select();
                    }

                    break;
                }

        }
    }



</script>

