@page "{id}"
@model MPOrdenes.Pages.Ordenes.ObservarModel
@{
    ViewData["Title"] = "Ordenes de Venta";
}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}

@section styles{


}

@section scripts{
    
}

@using Newtonsoft.Json;

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Ordenes de Venta
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Observar Orden de Venta</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-8">
                            <h6 class="box-subtitle">Observar Orden</h6>

                        </div>
                        <div class="col-4">
                            <a asp-page="./Index" class="btn btn-outline-info" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>

                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-header mt-0">
                                <input hidden id="id" asp-for="Orden.DocEntry" />
                                <h2 class="d-inline"><span class="font-size-24">Orden NO: @Model.Orden.DocNum</span></h2>
                                <div class="text-left">
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>Fecha: <span class="font-size-18">@Model.Orden.DocDate.ToString("dd/MM/yyyy")</span></h5>

                                        </div>
                                        <div class="col-4">
                                            <h5>Moneda: <span class="font-size-18">@Model.Orden.Moneda</span></h5>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-md-8 invoice-col">
                            <strong>Cliente</strong>
                            <address>
                                <strong class="text-blue font-size-24">@Model.Orden.CardName</strong><br>
                                @Model.Orden.CardCode<br>

                            </address>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <hr />
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                        <th class="text-center">#</th>
                                        <th class="text-center">Cod Producto</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Almacen</th>
                                        <th class="text-center">Precio</th>
                                        <th class="text-center">Status</th>




                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Orden.Detalle)
                                    {
                                    <tr>
                                        <td>@item.LineNum</td>
                                        <td>@item.CodPro</td>
                                        <td>@item.NombreProducto</td>
                                        <td class="text-right">@(Math.Round(item.Cantidad, 2))</td>


                                        <td class="text-center">@item.Almacen</td>
                                        <td class="text-right">@(Math.Round(item.PrecioUnitario, 2))</td>
                                        <td class="text-center">@item.Status</td>


                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->

                </div>
            </div>


            <!-- Default box Ordenes de Produccion-->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Ordenes de Producción</h4>
                </div>
                <div class="box-body">
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                        <th class="text-center"># Producción</th>
                                        <th class="text-center">Cod Producto</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Fecha</th>
                                        <th class="text-center">Planificada</th>
                                        <th class="text-center">Completada</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Ordenes.Ordenes)
                                    {
                                        <tr>
                                            <td>@item.NoProducción</td>
                                            <td>@item.A_Producir</td>
                                            <td>@item.Nombre</td>
                                            <td class="text-center">@item.Fecha.ToString("dd/MM/yyyy")</td>


                                            <td class="text-right">@(Math.Round(item.Planificada, 2))</td>
                                            <td class="text-right">@(Math.Round(item.Completada, 2))</td>


                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>

            <!-- Default box Existencias-->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Faltantes de Inventario</h4>
                </div>
                <div class="box-body">
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                      
                                        <th class="text-center">Cod Producto</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Faltante</th>
                                        <th class="text-center">Requerido</th>
                                        <th class="text-center">Inventario Disponible</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Existencias.Existencias)
                                    {
                                    <tr>
                                        <td>@item.Articulo</td>
                                        <td>@item.ItemName</td>

                                        <td class="text-right">@(Math.Round(item.Faltante, 2))</td>
                                        <td class="text-right">@(Math.Round(item.Requerido, 2))</td>
                                        <td class="text-right">@(Math.Round(item.Inventario_Disponible, 2))</td>


                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
            <div class="text-xs-right">
             
            </div>
</div>
    </div>
</section>