@page "{id}"
@model MPOrdenes.Pages.Ordenes.ProduccionModel
@{
    ViewData["Title"] = "Ordenes de Venta | Produccion";
}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}

@section styles{


}

@section scripts{
    <script>
         $(document).ready(function () {

            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                });
            });

            Recuperar();
             
        });
        var Detalles = [];
        function Recuperar() {
            var detalles = JSON.parse($("#Detalle").val());
            console.log(detalles);
            for (var i = 0; i < detalles.length; i++) {
                var detalle = {
                    id: 0,
                    DocEntry: $("#idGeneral").val(),
                    Articulo: detalles[i].Articulo,
                    SustPor: '',
                    ItemName: detalles[i].ItemName,
                    Requerido: detalles[i].Requerido,
                    CantidadReal: 0
                     
                };
                Detalles.push(detalle);

            }

         
        }
        function Liberar()
        {
                        $.ajax({
                            type: 'GET',

                            url: '@Url.Page("Produccion", "Generar")',
                            dataType: 'json',
                            data: { id: $("#id").val() , enviar: "1" },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (json) {

                                $("#divProcesando").hide();

                                if ($('.modal-backdrop').is(':visible')) {

                                    $('body').removeClass('modal-open');
                                    $('.modal-backdrop').hide();
                                }
                                console.log("resultado " + json.mensaje);
                                if (json.success == true) {
                                    Swal.fire({
                                        title: "Ha sido generado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            //location.reload();
                                            window.location.href = window.location.href.split("/Observar")[0];
                                        }
                                    })

                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar ' + json.mensaje

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                $("#divProcesando").modal("show");
                            },
                            complete: function () {

                            },
                            error: function (error) {

                            }
                        });
        }

        function Cerrar()
        {
                        $.ajax({
                            type: 'GET',

                            url: '@Url.Page("Produccion", "Generar")',
                            dataType: 'json',
                            data: { id: $("#id").val() , enviar: "0" },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (json) {

                                $("#divProcesando").hide();

                                if ($('.modal-backdrop').is(':visible')) {

                                    $('body').removeClass('modal-open');
                                    $('.modal-backdrop').hide();
                                }
                                console.log("resultado " + json.mensaje);
                                if (json.success == true) {
                                    Swal.fire({
                                        title: "Ha sido generado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            //location.reload();
                                            window.location.href = window.location.href.split("/Observar")[0];
                                        }
                                    })

                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar ' + json.mensaje

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                $("#divProcesando").modal("show");
                            },
                            complete: function () {

                            },
                            error: function (error) {

                            }
                        });
        }
       
        function ModificaLinea(i){
            Detalles[i].SustPor = $("#"+i+"_Sust").val();
            Detalles[i].CantidadReal = parseFloat($("#"+i+"_Cantidad").val());
        }
        
        function Actualizar() {
             
            for (var i = 0; i < Detalles.length; i++) {
                Detalles[i].CantidadReal = parseFloat($("#"+i+"_Cantidad").val());
            }


            var recibido = Detalles;
            


             Swal.fire({
                    title: '¿Desea guardar los cambios?',
                    showDenyButton: true,
                    showCancelButton: false,
                    confirmButtonText: `Aceptar`,
                    denyButtonText: `Cancelar`,
                    customClass: {
                        confirmButton: 'swalBtnColor',
                        denyButton: 'swalDeny'
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        var recibidos = recibido;

                        $.ajax({
                            type: 'POST',

                            url: '@Url.Page("Produccion", "Produccion")',
                            dataType: 'json',
                            data: { recibido: recibidos },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (json) {

                                $("#divProcesando").hide();

                                if ($('.modal-backdrop').is(':visible')) {

                                    $('body').removeClass('modal-open');
                                    $('.modal-backdrop').hide();
                                }
                                console.log("resultado " + json.mensaje);
                                if (json.success == true) {
                                    Swal.fire({
                                        title: "Ha sido generado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload();
                                           // window.location.href = window.location.href.split("/Produccion")[0];
                                        }
                                    })

                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar ' + json.mensaje

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                $("#divProcesando").modal("show");
                            },
                            complete: function () {

                            },
                            error: function (error) {

                            }
                        });
                    } else {
                         
                    }
                }
               )
            btn.disabled = false;
            //$("#formTipos").submit();
        }


        function Producir()
        {
                        $.ajax({
                            type: 'GET',

                            url: '@Url.Page("Produccion", "Emision")',
                            dataType: 'json',
                            data: { id: $("#id").val()  },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (json) {

                                $("#divProcesando").hide();

                                if ($('.modal-backdrop').is(':visible')) {

                                    $('body').removeClass('modal-open');
                                    $('.modal-backdrop').hide();
                                }
                                console.log("resultado " + json.mensaje);
                                if (json.success == true) {
                                    Swal.fire({
                                        title: "Ha sido generado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            //location.reload();
                                            window.location.href = window.location.href.split("/Observar")[0];
                                        }
                                    })

                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar ' + json.mensaje

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                $("#divProcesando").modal("show");
                            },
                            complete: function () {

                            },
                            error: function (error) {

                            }
                        });
        }
          
        
        function PT()
        {
                        $.ajax({
                            type: 'GET',

                            url: '@Url.Page("Produccion", "Recibo")',
                            dataType: 'json',
                            data: { id: $("#id").val()  },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (json) {

                                $("#divProcesando").hide();

                                if ($('.modal-backdrop').is(':visible')) {

                                    $('body').removeClass('modal-open');
                                    $('.modal-backdrop').hide();
                                }
                                console.log("resultado " + json.mensaje);
                                if (json.success == true) {
                                    Swal.fire({
                                        title: "Ha sido generado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            //location.reload();
                                            window.location.href = window.location.href.split("/Observar")[0];
                                        }
                                    })

                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar ' + json.mensaje

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                $("#divProcesando").modal("show");
                            },
                            complete: function () {

                            },
                            error: function (error) {

                            }
                        });
        }


    </script>
}

@using Newtonsoft.Json;
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Ordenes de Venta
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Producción Orden de Venta</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-8">
                        <input hidden id="Detalle" value="@JsonConvert.SerializeObject(Model.Agrupado.Agrupado)" />
                         <input hidden id="idGeneral" value="@Model.Orden.DocEntry" />

                            <h6 class="box-subtitle">Producción de Ordenes</h6>

                        </div>
                        <div class="col-4">
                            <a asp-page="./Index" class="btn btn-outline-info" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>

                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-header mt-0">
                                <input hidden id="id" asp-for="Orden.DocEntry" />
                                <h2 class="d-inline"><span class="font-size-24">Orden NO: @Model.Orden.DocNum</span></h2>
                                <div class="text-left">
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>Fecha: <span class="font-size-18">@Model.Orden.DocDate.ToString("dd/MM/yyyy")</span></h5>

                                        </div>
                                        <div class="col-4">
                                            <h5>Moneda: <span class="font-size-18">@Model.Orden.Moneda</span></h5>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-md-8 invoice-col">
                            <strong>Cliente</strong>
                            <address>
                                <strong class="text-blue font-size-24">@Model.Orden.CardName</strong><br>
                                @Model.Orden.CardCode<br>

                            </address>
                        </div>
                        <!-- /.col -->
                    </div>
              
            

                </div>
            </div>
              <div class="text-xs-right">
            <button type="button" class="btn btn-outline-secondary" onclick="javascript: Liberar()"> <i class="mdi mdi-book-open"></i> Liberar OF</button>&nbsp;
            <button type="button" class="btn btn-outline-primary" onclick="javascript: Actualizar()"> <i class="mdi mdi-loop"></i> Actualizar OF</button>&nbsp;
            <button type="button" class="btn btn-outline-dark" onclick="javascript: Producir()"> <i class="mdi mdi-wrench"></i> Emisión de Producción</button>&nbsp;
            <button type="button" class="btn btn-outline-info" onclick="javascript: PT()"> <i class="mdi mdi-zip-box"></i> Recibo de Producción</button>&nbsp;

            <button type="button" class="btn btn-outline-danger" onclick="javascript: Cerrar()"> <i class="mdi mdi-cube-send"></i> Cerrar OF</button>

            </div>
            <hr />

            <!-- Default box Ordenes de Produccion-->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Agrupado de Productos</h4>
                </div>
                <div class="box-body">
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                      
                                        <th class="text-center">Cod Producto</th>
                                        <th class="text-center">Cod Sustituto</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Cant Requerida</th>
                                        <th class="text-center">Cant Real</th> 
 
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 0; }
                                    @foreach (var item in Model.Agrupado.Agrupado)
                                    {
                                        <tr>
                                            <td>@item.Articulo</td>
                                            <td>
                                                <input type="text" class="form-control" id="@(i)_Sust" onchange="javascript: ModificaLinea(@i)"/>
                                            </td>
                                            <td>@item.ItemName</td>
                                            
                                            <td class="text-right">@(Math.Round(item.Requerido, 2))</td>
                                            <td class="text-right" width="10%" style="text-align: center;">
                                                 <input type="number" value="@(Math.Round(item.Requerido,2))" style="max-width: 100%; text-align: center;" class="form-control" id="@(i)_Cantidad" onchange="javascript: ModificaLinea(@i)" />
                                            </td>
                                            @{i++;}

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>

            <!-- Default box Articulos por orden de fabricacion-->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Articulos por Orden</h4>
                </div>
                <div class="box-body">
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-pale-info">
                                      
                                        <th class="text-center">Cod Producto</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Requerido</th>
                                        <th class="text-center">Orden Fabricación</th> 
                                        <th class="text-center">Lineas</th> 




                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PLineas.PLineas)
                                    {
                                    <tr>
                                        <td>@item.Articulo</td>
                                        <td>@item.ItemName</td>

                                        <td class="text-right">@(Math.Round(item.Requerido, 2))</td>
                                        <td class="text-center">@item.OrdenFabricacion</td>
                                        <td>@item.Linea</td>
                                        


                                    </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </div>
          
</div>
    </div>
</section>