@page "{id}"
@model NOVAAPP.Pages.Sucursales.EditarModel
@{
    ViewData["Title"] = "Editar Sucursales";
}
@section styles{
    <style>


        .lab {
            font-weight: 400;
            font-size: 13px;
        }

        .lab2 {
            font-weight: 400;
            font-size: 13px;
        }

        .label {
            color: #fff !important;
            background-color: #57b846 !important;
            cursor: pointer;
            text-decoration: underline;
            background: none;
            font-size: 17px;
            padding: 8px 18px !important;
        }

        .label-submit {
            color: #fff !important;
            background-color: #57b846 !important;
            cursor: pointer;
            background: none;
            font-size: 13px;
            padding: 8px 18px !important;
        }
        /*label
                {
                    font-size: 15px;
                }*/

        #imgGalerias {
            display: none;
        }
    </style>

}

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {

            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                });
            });

            Recuperar();
        });
        var Cantones = [];
        var Distritos = [];
        var Barrios = [];

        function Recuperar() {

            try {
                Cantones = JSON.parse($("#Cantones").val());
                Distritos = JSON.parse($("#Distritos").val());
                Barrios = JSON.parse($("#Barrios").val());  //Viene de input

                ModificaSelects(0);
                maskCedula();
            } catch (e) {
                console.log(e);
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar imprimir ' + e

                })
            }
        }
        function ModificaSelects(i) {
            var codProvincia = parseInt($("#selectP").val());
            var codCanton = parseInt($("#selectC").val());
            var codDistrito = parseInt($("#selectD").val());

            if (i == 0) {
                RellenaCantones(Cantones.filter(a => a.CodProvincia == codProvincia));
                RellenaDistritos(Distritos.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton));
                RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));

            }

            if (i == 1) {
                RellenaCantones(Cantones.filter(a => a.CodProvincia == codProvincia));
                RellenaDistritos(Distritos.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton));
                RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));

            }
            if (i == 2) {

                RellenaDistritos(Distritos.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton));
                RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));

            }

            if (i == 3) {
                RellenaBarrios(Barrios.filter(a => a.CodProvincia == codProvincia && a.CodCanton == codCanton && a.CodDistrito == codDistrito));
            }

        }

        function RellenaCantones(ListCantones) {
            var sOptions = '';

            $("#selectC").html('');

            for (var i = 0; i < ListCantones.length; i++) {

                sOptions += '<option value="' + ListCantones[i].CodCanton + '">' + ListCantones[i].NomCanton + '</option>';

            }
            $("#selectC").html(sOptions);
        }

        function RellenaDistritos(ListDistritos) {
            var sOptions = '';

            $("#selectD").html('');

            for (var i = 0; i < ListDistritos.length; i++) {

                sOptions += '<option value="' + ListDistritos[i].CodDistrito + '">' + ListDistritos[i].NomDistrito + '</option>';

            }
            $("#selectD").html(sOptions);
        }

        function RellenaBarrios(ListBarrios) {
            var sOptions = '';

            $("#selectB").html('');

            for (var i = 0; i < ListBarrios.length; i++) {

                sOptions += '<option value="' + ListBarrios[i].CodBarrio + '">' + ListBarrios[i].NomBarrio + '</option>';

            }
            $("#selectB").html(sOptions);
        }

    </script>
    <script>
        var ImageBae64 = '';

        var fileUploadPrincipal = document.getElementById('imgPrincipalUploadG');
        fileUploadPrincipal.onchange = async function (e) {

            await readFilePrincipalP(e.srcElement);
            // idF = setInterval(cancelar(e), 2000);

            var idF = setInterval(async function () {

                if (ImageBae64 != "data:," && $("#base64").val() != "data:,") {
                    //alert("Imagen agregada con éxito");
                    clearInterval(idF);
                } else {
                    await readFilePrincipalP(e.srcElement);
                }
            }, 1500);



        }
        async function readFilePrincipalP(input) {

            if (input.files && input.files[0]) {
                /*const maxAllowSize = 512000;*/
                //const maxAllowSize = 2800000;
                const maxAllowSize = 5000000;
                if (input.files[0].size > maxAllowSize) {
                    alert("Esta imagen es muy pesada");
                    input.value = '';
                } else {
                    var reader = new FileReader();
                    var img = document.createElement("img");
                    var canvas = document.createElement('canvas');

                    reader.onload = function (e) {
                        img.src = e.target.result;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(img, 0, 0);

                        var MAX_WIDTH = 800;
                        var MAX_HEIGHT = 600;
                        var width = img.width;
                        var height = img.height;

                        if (width > height) {
                            if (width > MAX_WIDTH) {
                                height *= MAX_WIDTH / width;
                                width = MAX_WIDTH;
                            }
                        } else {
                            if (height > MAX_HEIGHT) {
                                width *= MAX_HEIGHT / height;
                                height = MAX_HEIGHT;
                            }
                        }
                        canvas.width = width;
                        canvas.height = height;
                        var ctx = canvas.getContext("2d");
                        ctx.drawImage(img, 0, 0, width, height);
                        var dataurl = canvas.toDataURL("image/jpg");
                        document.getElementById('imgPrincipalG').src = e.target.result;

                        ImageBae64 = dataurl;
                        $("#Imagen").val(ImageBae64);
                        //    IMG2 = e.target.result;

                    }

                }

                reader.readAsDataURL(input.files[0]);
            }



        }

    </script>

}<!-- Content Header (Page header) -->
@using Newtonsoft.Json;
<section class="content-header">
    <h1>
        Sucursales
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="ti-dashboard"></i></a></li>
        <li class="breadcrumb-item active">Editar Sucursal</li>
    </ol>
</section>



<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-8">
                            <h6 class="box-subtitle"> Editar Sucursal</h6>

                        </div>
                        <div class="col-md-4">
                            <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="ti-back-left "></i>  Regresar</a>


                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input hidden asp-for="Sucursales.CodSuc" />
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                <div class="form-group">
                                    <center>
                                        <img id="imgPrincipalG" src="data:image/jpeg;base64,@Model.Sucursales.Imagen" alt="image" style="width:200px; height:200px;border-radius: 15px;" class="img-fluid" />
                                        <br />
                                        <br />

                                        <label style="font-size: 13px;" class="label" for="imgPrincipalUploadG">Subir Imagen</label><input id="imgPrincipalUploadG" accept=".jpg, .png" style="opacity:0; display:none;" type="file" name="imgPrincipalUploadG" />

                                        <input type="text" id="Imagen" hidden asp-for="Sucursales.Imagen" class="form-control" required data-validation-required-message="Este campo es requerido">


                                    </center>
                                </div>




                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cyber">Tipo de Cédula:</label>
                                    <select id="selectTP" class="form-control" asp-for="Sucursales.TipoCedula" onchange="    javascript: maskCedula();" required>
                                        <option value="01">Nacional</option>
                                        <option value="02">Jurídica</option>
                                        <option value="03">DIMEX</option>
                                        <option value="04">NITE</option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Cédula<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input id="Cedula" type="text" asp-for="Sucursales.Cedula" maxlength="12" class="form-control" required data-validation-required-message="Este campo es requerido" maxlength="12" onchange="javascript: BuscarCliente()">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Nombre Sucursal<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" asp-for="Sucursales.Nombre" maxlength="100" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>

                            </div>



                        </div>



                        <div class="row">



                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Email<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" asp-for="Sucursales.Correo" maxlength="100" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>


                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Teléfono<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" asp-for="Sucursales.Telefono" id="Telefono" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>


                            </div>




                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nom">Provincia:</label>
                                    <select id="selectP" class="form-control" asp-for="Sucursales.Provincia" onchange="javascript: ModificaSelects(1)" required>

                                        <option value="1" selected>San José</option>
                                        <option value="2">Alajuela</option>
                                        <option value="3">Cartago</option>
                                        <option value="4">Heredia</option>
                                        <option value="5">Guanacaste</option>
                                        <option value="6">Puntarenas</option>
                                        <option value="7">Limón</option>




                                    </select>

                                </div>


                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nom">Cantón:</label>
                                    <select id="selectC" class="form-control" asp-for="Sucursales.Canton" onchange="javascript: ModificaSelects(2)" required>
                                        @foreach (var item in Model.Cantones)
                                        {
                                            <option value="@item.CodCanton">@item.NomCanton</option>

                                        }


                                    </select>

                                </div>


                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nom">Distrito:</label>
                                    <select id="selectD" class="form-control" asp-for="Sucursales.Distrito" onchange="javascript: ModificaSelects(3)" required>
                                        @foreach (var item in Model.Distritos)
                                        {
                                            <option value="@item.CodDistrito">@item.NomDistrito</option>

                                        }


                                    </select>

                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nom">Barrio:</label>
                                    <select id="selectB" class="form-control" asp-for="Sucursales.Barrio" required>
                                        @foreach (var item in Model.Barrios)
                                        {
                                            <option value="@item.CodBarrio">@item.NomBarrio</option>

                                        }


                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Dirección<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" asp-for="Sucursales.Sennas" maxlength="250" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h5>Lista de Precio<span class="text-danger">*</span></h5>

                                    <select class="form-control select2  " asp-for="Sucursales.idListaPrecios">
                                        <option value="0"> Seleccione </option>
                                        @foreach (var item in Model.Precio)
                                        {

                                            <option value="@item.id">@item.Nombre</option>
                                        }


                                    </select>



                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h5>Serie Contado<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="number" asp-for="Sucursales.SerieFECO" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>



                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <h5>Serie Crédito<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="number" asp-for="Sucursales.SerieFECR" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>



                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <h5>Serie Nota de Crédito<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="number" asp-for="Sucursales.SerieNC" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>



                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <h5>Serie Pago<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="number" asp-for="Sucursales.SeriePago" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>



                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Serie Depósito<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="number" asp-for="Sucursales.SerieDeposito" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>



                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="nom">Dimensión:</label>
                                    <select class="form-control" asp-for="Sucursales.Dimension" required>

                                        <option value=1 selected>1</option>
                                        <option value=2>2</option>
                                        <option value=3>3</option>
                                        <option value=4>4</option>
                                        <option value=5>5</option>





                                    </select>

                                </div>


                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <h5>Norma de Reparto<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" asp-for="Sucursales.NormaReparto" class="form-control" required data-validation-required-message="Este campo es requerido">
                                    </div>

                                </div>



                            </div>
                        </div>
                        <div class="text-xs-right">
                            <button type="submit" class="btn btn-info" title="Guardar Cambios">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>


                <div class="row">
                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">

                            <div class="x_content">
                                <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input hidden id="Cantones" value="@JsonConvert.SerializeObject(Model.Cantones)" />
                                    <input hidden id="Distritos" value="@JsonConvert.SerializeObject(Model.Distritos)" />
                                    <input hidden id="Barrios" value="@JsonConvert.SerializeObject(Model.Barrios)" />

                                </form>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
<script>
    function maskCedula() {
        $("#Telefono").mask("9999-9999");
        var TC = $("#selectTP").val();

        switch (TC) {
            case "01":
                {
                    $("#Cedula").mask("999999999");
                    break;
                }
            case "02":
                {
                    $("#Cedula").mask("9999999999");
                    break;
                }
        }

    }

    function validarCedula() {
        var TC = $("#selectTP").val();

        switch (TC) {
            case "01":
                {
                    if ($("#Cedula").val().length < 9) {

                        $("#Cedula").focus();
                        $("#Cedula").select();
                    }

                    break;
                }
            case "02":
                {
                    if ($("#Cedula").val().length < 10) {

                        $("#Cedula").focus();
                        $("#Cedula").select();
                    }

                    break;
                }
        }
    }
</script>

